@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora-VariableFont_wght.woff2);
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.woff2);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.woff2);
}
