html {
  color: var(--color-text);
  background-color: var(--color-bg);
}

header,
footer {
  height: min-content;
  background-color: var(--color-header-footer);
}

footer {
  min-height: 5em;
}

/* textstyles */
h1 {
  color: var(--color-h1);
  font-size: var(--h1-size);
  font-family: var(--font-family-playfair);
  font-weight: var(--font-weight-bold);
}

h2 {
  color: var(--color-h2);
  font-size: var(--h2-size);
  font-family: var(--font-family-playfair);
  font-weight: var(--font-weight-medium);
}

h3 {
  color: var(--color-text);
  font-size: var(--h3-size);
  font-family: var(--font-family-lora);
  font-weight: var(--font-weight-medium);
  line-height: 2.5ch;
  margin-top: 0.3rem;
}

p {
  color: var(--color-text);
  font-size: var(--bodytext-size);
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-regular);
}

nav a,
nav p {
  color: var(--color-header-text);
  font-family: var(--font-family-montserrat);
}

nav p {
  font-weight: var(--font-weight-mediumbold);
  font-size: var(--headertext-size);
}
